body {
  background-color: rgb(139, 206, 137)
}

/* h1{
    color:brown;
       font-family:'Agency FB', sans-serif;
       
}
h3{
    color:brown;
       font-family:'Agency FB', sans-serif;
} */
/* @import url('https://fonts.cdnfonts.com/css/agency-fb'); */

.title {
  color: brown;
  font-family: 'agency_fb', sans-serif;
  border-style: none none dotted none;
  text-align: center;
}


.agency-font {
  font-family: 'agency_fb', sans-serif;
}

.item {
  background: #0bd;
  /* margin:10px;
        padding:10px;  /* margin:10px;
        padding:10px; */
}

.card {
  margin: 1%;
}

.container {
  display: flex;
  flex-wrap: wrap;

}

.thumbnail {
  cursor: pointer;
  transition: opacity 0.3s ease;

  /* width: 100%; */

  /* padding-top: 56.25%;  */
  /* position: relative; */
  /* overflow: hidden; */
}

.card-img-top.thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.thumbnail:hover {
  opacity: 0.7;
}


li {
  list-style-position: inside;
}



.video {
  width: 100%;
  height: auto;
}

.aboutTab {
  background-color: #f1eac3;
  display: none;
  padding: 10px;

}

.aboutTab.active {
  display: block;
}

.moreButton {

  position: absolute;
  bottom: 10px;
  right: 10px;
}



.content {
  background-color: #FDF251;
  border-radius: 5px;
  color: #728356;
  /* padding: 10px; */
  font-weight: bolder;
  /* margin: 5px;  */
}

.day {
  text-align: right;
}