body {
  background-color: rgb(139, 206, 137);
}

/* h1{
    color:brown;
       font-family:'Agency FB', sans-serif;
       
}
h3{
    color:brown;
       font-family:'Agency FB', sans-serif;
} */
/* @import url('https://fonts.cdnfonts.com/css/agency-fb'); */

@font-face {
  font-family: "agency_fb";
  font-style: normal;
  font-weight: 400;
  src: local("agency_fb"),
    url("https://fonts.cdnfonts.com/s/13829/agency_fb.woff") format("woff");
}

.name {
  font-family: "DotGothic16", sans-serif;
  font-size: 50px;
  font-weight: bold;
  /* flex: 1; */
  margin-right: 20px;
  align-items: center;
}

.introduction {
  font-family: "DotGothic16", sans-serif;

  /* flex: 2; */
}

.title {
  color: brown;
  font-family: "agency_fb", sans-serif;
  border-style: none none dotted none;
  text-align: center;
}

.agency-font {
  font-family: "agency_fb", sans-serif;
}

.item {
  background: #0bd;
  /* margin:10px;
        padding:10px;  /* margin:10px;
        padding:10px; */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* お好みで */
}

.selected-thumbnail {
  border: 4px solid #007bff; /* 好きな色と太さに変更可能 */
}

.card {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 初期影 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* z-index 有効化のため */
  z-index: 0;
}

.card:hover {
  transform: translateY(-6px); /* 上に浮かせる */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* 少し深めの影に変化 */
  z-index: 10; /* 他のカードより上に */
}

.card-img-top.thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

/* .thumbnail:hover {
  opacity: 0.7;
} */

li {
  list-style-position: inside;
}

.video {
  width: 100%;
  height: auto;
}

.aboutTab {
  background-color: #f1eac3;
  display: none;
  padding: 10px;
}

.aboutTab.active {
  display: block;
}

.moreButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.tryButton {
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.content {
  background-color: #fdf251;
  border-radius: 5px;
  color: #728356;
  /* padding: 10px; */
  font-weight: bolder;
  /* margin: 5px;  */
}

.day {
  text-align: right;
}
