body {
   background-color:#c1da74;	 
  /* background-color:#49313c;	  */
 	/* font-family: 'Agency FB'; */
}




.heading {


   
    background-color: #728356;
    border-radius: 5px;
    color:     #FDF251;
    padding: 5px 0px 5px 10px;
    font-weight:bolder; 

        font-size: 32px
 


  }

  .content {


   
     background-color:    #fd5151;
    border-radius: 5px;
 
   /* margin-top: 12px; */
    margin-right: 32px;
    /* margin-bottom: 12px; */
    margin-left: 32px;
 
 


  }
  


  .text {


    background-color:    #FDF251;
    border-radius: 5px;
    color:       #728356;
    padding: 5px 0px 5px 10px;
    font-weight:bolder; 
    font-size: 20px


  }

main {
    display: block;		/*IE用*/
    margin: 100px 100px;	/*上下、左右へのブロックの外側へ空けるスペース*/
}
.cover {
    object-fit: cover;
}
.thumbnail{
    max-width: 100%;
    height: auto;
}


.img_wrap{
  /* border: 1px solid #ddd; */

  margin: 0 auto;
  overflow: hidden;
}
.img_wrap img{
  /* width: 100%; */
  cursor: pointer;
  transition-duration: 0.3s;
}
.img_wrap:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

.day {
    text-align: right;
}