---
layout: default
---
<!-- 
<link rel="stylesheet" type="text/css" href="../my_css.css"> -->
<!-- BootstrapのCSS読み込み -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="my_css.css">
<div class="container">

    {{ content }}<br>
    <a href="index.html" class="img_wrap col-md-1"><img src="../images/backtotitle.png" width="100"></a>
</div>