@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Geostar&display=swap");
@import "tailwindcss" source("../src");

@theme {
  /* カスタムプロパティ (CSS変数) として色を定義 */

  /* --カラー名: R G B; の形式で定義する */
  --color-mint: #8fc6c6;
  --color-brown: #bb9861;
  --color-calm: #eee9d4;

  --font-asimovian: "Asimovian", sans-serif;
  --font-geostar: "Geostar", sans-serif;
}
