@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Geostar&display=swap");
@import "tailwindcss" source("../src");

@theme {
  /* 配色アイデア手帖p246アールデコ */
  --color-mint: #8fc6c6;
  --color-brown: #bb9861;
  --color-calm: #eee9d4;
  --color-ebony: #4f413c;

  --font-asimovian: "Asimovian", sans-serif;
  --font-geostar: "Geostar", sans-serif;
}
