<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../my_css.css">


<header>

    <h1 class="heading">
        <a href="../index.html"><img src="../images/titleimage.jpeg" height="48px"></a>
        <a href="../amo-yo.html"><img src="../images/amo-yo_icon.jpeg" height=" 48px"></a>
        <a href="../pomo-yo.html"><img src="../images/pomo-yo_icon.jpeg" href="pomo-yo.html" height=" 48px"></a>
        <a href="../VirtualRobot.html"><img src="../images/virtualrobot_icon.jpeg" href="VirtualRobot.html"
                height=" 48px"></a>
    </h1>
    <!-- <a href="../amo-yo.html"><img src="../images/thumbnail/amo-yo.jpeg"> -->

</header>

<main>
    {{ content }}
</main>